:root {
    --purple: #8E44AD;
    --white: #eee;
    --bright-white: #ffffff;
    --hamburger-bgc: var(--white);
    --hamburger-color: var(--purple);
    --hamburger-hover-color: var(--bright-white);
    --menu-bgc: var(--white);
    --menu-color: var(--purple);
    --menu-hover-bgc: var(--purple);
    --menu-hover-color: var(--white);
    --menu-width: 200px;
    --hamburger-transition: .8s;  /* default is .2s */
}

html, body {
    margin: 0;
    background: var(--purple);
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
